@import 'breakpoints';

.album-options {
  i {
    color: var(--color-medium-grey);
  }

  button {
    background-color: var(--color-opaque-grey);
    border: none;
    padding: 0.5rem
  }
}


.select-columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

@include for_breakpoint('mobile') {
  .select-columns {
    margin-top: 1rem;
  }
}
