.header {
  background-color: var(--color-black);
  color: var(--color-orange);
  padding: 1rem;
  text-align: center;
  height: 200px;
  // clip-path: ellipse(85% 100% at 50% 0%);
  display: grid;
  align-content: space-between;

  h1 {
    color: var(--color-orange);
    background-color: transparent;
  }

  div {
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--color-orange);
  }

  a {
    text-decoration: none;
    background-color: var(--color-black);
    color: var(--color-orange);
    font-size: 1.5rem;

    &.active {
      color: var(--color-yellow);
    }

    &:hover {
      color: var(--color-yellow);
    }
  }
}
