:root {

  --color-black: #2c2d34;
  --color-red: #e94822;
  --color-orange: #f2910a;
  --color-yellow: #efd510;

  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
}
