@use 'colors';
@use 'components/header';
@use 'components/photo-album';
@use 'components/upload';
@use 'components/album-options';

@import "react-image-gallery/styles/scss/image-gallery.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
